/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: 'Heebo', sans-serif;
}

.nav {
	display: flex;
	justify-content: end;
	margin: 0 auto;
	max-width: 1152px;
	margin-bottom: 130px;
	a {
		margin: 30px 30px 0 0;
		color: #000;
		font-size: 20px;
		font-weight: 400;
	}
}

.container {
	margin: 0 auto;
	max-width: 858px;
}

.name {
	&_rows {
		display: flex;
		justify-content: space-between;
		margin-bottom: 71px;
	}
	&_title {
		color: var(--dark-color, #21243D);
		font-size: 44px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 40px;
	}
	&_text {
		color: var(--dark-color, #21243D);
		font-size: 16px;
		max-width: 500px;
		margin-bottom: 38px;
	}
	&_btn {
		border-radius: 2px;
		background: var(--primary, #FF6464);
		p {
			padding: 10px 20px;
			color: #FFF;
		}
	}
}

.post {
	background: #EDF7FA;
	&_title {
		display: flex;
		justify-content: space-between;
		padding-top: 28px;
		margin-bottom: 20px;
	}
	&_name {
		font-size: 22px;
	}
	&_link {
		color: var(--secondry, #00A8CC);
		font-size: 16px;
	}
	&_rows {
		display: flex;
		justify-content: space-between;
		padding-bottom: 39px;
	}

	&_info {
		padding: 21px 24px;
		background-color: #fff;
		margin-right: 20px;
	}
	.right {
		margin-right: 0px;
	}
	&_subtitle {
		color: var(--dark-color, #21243D);
		font-weight: 700;
		margin-bottom: 17px;
	}
	&_date {
		font-size: 18px;
		margin-bottom: 11px;
	}
	&_text {
		color: var(--dark-color, #21243D);
		font-size: 16px;
	}
}