/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: 'Heebo', sans-serif;
}

.nav {
	display: flex;
	justify-content: end;
	margin: 0 auto;
	max-width: 1152px;
	margin-bottom: 130px;
	a {
		margin: 30px 30px 0 0;
		color: #000;
		font-size: 20px;
		font-weight: 400;
		transition: 1s;
		&:hover {
			color: #00A8CC;
			scale: 1.1;
		}
	}
}

.container {
	margin: 0 auto;
	max-width: 858px;
}

.name {
	&_rows {
		display: flex;
		justify-content: space-between;
		margin-bottom: 71px;
	}
	&_title {
		color: var(--dark-color, #21243D);
		font-size: 44px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 40px;
	}
	&_text {
		color: var(--dark-color, #21243D);
		font-size: 16px;
		max-width: 500px;
		margin-bottom: 38px;
	}
	&_btn {
		border-radius: 2px;
		background: var(--primary, #FF6464);
		transition: 1s;
		&:hover {
			scale: 1.1;
		}
		p {
			padding: 10px 20px;
			color: #FFF;
		}
	}
}

.post {
	background: #EDF7FA;
	margin-bottom: 20px;
	&_title {
		display: flex;
		justify-content: space-between;
		padding-top: 28px;
		margin-bottom: 20px;
	}
	&_name {
		font-size: 22px;
	}
	&_link {
		color: var(--secondry, #00A8CC);
		font-size: 16px;
		transition: 1s;
		&:hover {
			scale: 1.1;
		}
	}
	&_rows {
		display: flex;
		justify-content: space-between;
		padding-bottom: 39px;
	}

	&_info {
		padding: 21px 24px;
		background-color: #fff;
		margin-right: 20px;
	}
	.right {
		margin-right: 0px;
	}
	&_subtitle {
		color: var(--dark-color, #21243D);
		font-weight: 700;
		margin-bottom: 17px;
	}
	&_date {
		font-size: 18px;
		margin-bottom: 11px;
	}
	&_text {
		color: var(--dark-color, #21243D);
		font-size: 16px;
	}
}

.works {
	margin-bottom: 90px;
	&_title {
		font-size: 22px;
		margin-bottom: 25px;
	}
	&_work {
		display: flex;
		margin-bottom: 30px;
	}
	&_img {
		margin-right: 18px;
	}
	&_name {
		color: var(--dark-color, #21243D);
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 30px;
		transition: 1s;
		&:hover {
			color: #00A8CC;
		}
	}
	&_year {
		font-size: 18px;
		font-weight: 900;
		display: inline-block;
		border-radius: 16px;
		background: #142850;
		color: #FFF;
		line-height: 16px;
		padding: 10px 10px;
		margin-bottom: 30px;
	}
	&_text {
		color: var(--dark-color, #21243D);
		font-size: 16px;
	}
}

.footer {
	padding: 51px 0 54px 0;
	&_links {
		display: flex;
		justify-content: center;
		margin-bottom: 27px;
	}
	&_link {
		margin-right: 35px;
		transition: 0.5s;
		&:nth-child(4) {
			margin-right: 0px;
		}
		&:hover {
			scale: 1.05;
		}
	}
	&_text {
		font-size: 14px;
		display: flex;
		justify-content: center;
	}
}